body{
    section{

        #info_page_film, #info_detail, #info_casting, #info_recommandations, 
        #info_detail_casting, #info_filmographie{
            color: $purple; 
            font-size: 13px;
            text-align: center;
        }

    }
}