@media screen and (min-width: 1200px) {
    body{
        background-color: $blue-bg;
        section{
            .pagination{
                position: relative;
                ul{
                    margin-bottom: 30px;
                    width: 95%;
                    margin-left: 4vh;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    background: rgba(0,0,0,0.8);
                    padding: 8px;
                    border-radius: 50px;
                    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    
                    li{
                        color: $white;
                        list-style: none;
                        line-height: 45px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 500;
                        cursor: pointer;
                        user-select: none;
                        transition: all 0.3s ease;
                        list-style: none;
                        height: 45px;
                        width: 45px;
                        margin: 0 3px;
                        line-height: 45px;
                        border-radius: 50%;

                        &:hover{
                            color: #fff;
                            background: $purple; 
                        }
                        &.active{
                            color: #fff;
                            background: $purple;
                        }
                    }
                }
            }
        }
    }
}