
// déclaration des couleurs
$white : #FFFFFF;
$black : #000000;
$purple : #FF00C9;
$blue-light : #17E9FF;
$blue-bg : #090620;

// déclaration police

// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
